# python version = 3.10.11
# python.exe -m pip install --upgrade pip

django
django-phonenumber-field[phonenumberslite]
django-bootstrap5

pytest
pytest-django
coverage
pytest-cov


flake8
flake8-html

poetry

sentry-sdk[django]

# to deploy
# permet d'accéder aux variables d'environnements
python-decouple
# permet de référencer une autre database dans settings
dj-database-url
# serveur utilisé sur render
gunicorn

psycopg2
